<nav class="navbar navbar-expand-lg navbar-dark at-top" style="background-color: rgba(6, 53, 14, 0.904);">
    <a class="navbar-brand" routerLink="/home">SurRealEstate</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/tools">TOOLS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">PROPERTIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">JOURNALS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">PLAYGROUNDS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">CONTACTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">ABOUT US</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>