<div class="container-fluid d-flex justify-content-center heading">
    <div class="row col-8 justify-content-around align-items-center">
        <div class="col-3 d-flex p-0">
            <input type="text" class="form-control search-slt" placeholder="City" #inputCity>
        </div>
        <div class="col-3 d-flex p-0">
            <input type="text" class="form-control search-slt" placeholder="State" #inputState>
        </div>
        <div class="col-3 p-0">
            <button type="button" class="btn btn-block btn-dark"
                (click)="search(inputCity.value, inputState.value)">Search</button>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center">

    <div class="row col-8">
        <div class="col-12 d-flex p-0">

            <div class="btn-group d-flex ml-auto">
                <button type="button" class="btn">Sort By</button>
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right mr-auto" style="cursor: default">
                    <li class="dropdown-item" (click)="sort('lowToHigh')">Price (Low to High)</li>
                    <li class="dropdown-item" (click)="sort('highToLow')">Price (High to Low)</li>
                </ul>
            </div>
        </div>

        <div class="col-3 d-flex p-0" *ngFor="let property of properties">
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <img src="{{property.img}}" class="card-img-top" alt="...">
                    <div class="col-auto">
                        <hr>
                    </div>
                    <h6 class="card-text text-info">Asking: {{property.price_usd}}</h6>
                    <h6 class="card-text text-danger">Offer: {{property.offer}} </h6>
                    <h6 class="card-text text-primary">Rent: {{property.rent_zestimate}}</h6>
                    <div class="ml-auto card-text text-dark">
                        <p>{{property.bedrooms}} bds | {{property.bathrooms}} ba | {{property.square_footage}} sqft
                        </p>
                        <p>{{property.address}}</p>
                        <p>{{property.title}}</p>
                    </div>
                    <a href="{{property.url}}" class="btn btn-dark mt-auto" target="_blank">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>