<header class="wide heading">
    <h1>Real Estate Investment Calculators</h1>
</header>

<br />
<br />
<div class="container p-2">
    <div class="row">
        <div class="col-sm col-xs-12">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Mortgage Calculator</h5>
                    <hr>
                    <p class="card-text text-info">The calculator helps calculate monthly mortgage payment.</p>
                    <a routerLink="/tools/mortgage-calc" class="btn btn-dark float-right">Calculate</a>
                </div>
            </div>
        </div>
        <div class="col-sm col-xs-12">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Rental Property Calculator</h5>
                    <hr>
                    <p class="card-text text-info">The calculator helps analyze rental property investmemnt quickly.</p>
                    <a routerLink="/tools/rental-property-calc" class="btn btn-dark float-right">Calculate</a>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>