/* You can add global styles to this file, and also import other style files */
.heading {
    height: 10rem;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    h1{
        font-size:14px;
    }
}