<div class="container">
    <div class="row">
        <div class="col-sm text-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Meanstack-624x250.jpg/300px-Meanstack-624x250.jpg"
                class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row">
        <div class="col-sm bg-dark text-light p-5">
            <span>MEAN is a user-friendly full-stack JavaScript framework ideal for building dynamic websites and
                applications.
                It is a free and open-source stack designed to supply developers with a quick and organized method for
                creating rapid prototypes of MEAN-based web applications. One of the main benefits of the MEAN stack is
                that
                a single language, JavaScript, runs on every level of the application, making it an efficient and modern
                approach to web development.</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <h2>Companies using MEAN</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-xs-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm bg-dark pt-5">
            <img src="https://cdn2.codingdojo.com/new_design_image/individual_curriculum/mean/common_uses_of_mean_stack_development.png"
                class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <h2>Common uses of MEAN</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-xs-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm col-xs-12 text-center">
                <img src="https://cutecdn.codingdojo.com/optimized/mean/uses_of_mean.jpg"
                    class="img-fluid rounded-circle" alt="Responsive image">
            </div>
            <br>
            <div class="col-sm col-xs-12 text-center">
                <span>Large Scale Applications with User Connectivity</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm col-xs-12 text-center">
                <img src="https://cutecdn.codingdojo.com/optimized/mean/uses_of_mean_2.jpg"
                    class="img-fluid rounded-circle" alt="Responsive image">
            </div>
            <br>
            <div class="col-sm col-xs-12 text-center">
                <span>Mobile App Back–End Development
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm col-xs-12 text-center">
                <img src="https://cutecdn.codingdojo.com/optimized/mean/uses_of_mean_3.jpg"
                    class="img-fluid rounded-circle" alt="Responsive image">
            </div>
            <br>
            <div class="col-sm col-xs-12 text-center">
                <span>Real–Time Multi–user Interactivity</span>
            </div>
        </div>
    </div>